---
import { getCollection } from "astro:content"
const blogs = await getCollection("blogs")
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<div>
			<h2>All blogs</h2>
			<div>
				{blogs.map(b => {
					return <div>
						<a href={"/blogs/" + b.slug}>
							{b.data.title}
						</a>
						<span>{b.data.folder}</span>
					</div>
				})}
			</div>
		</div>
	</body>
</html>
