---
import { getCollection } from "astro:content"
const folders = await getCollection("folders")
console.log(folders)
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Folders Page</h1>
  <ul>
    {folders.map(f => {
      return <li>
        <a href={"/folders/" + f.id}>{f.data.description}</a>  
      </li>
    })}
  </ul>
</body>
</html>